body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Didact Gothic', sans-serif;

}
.banner{
    display: flex;
    background-color: white;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
}